.catalog_container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.catalog_container h2 {
    position: absolute;
    text-align: center; 
    background-color: black;
    text-transform: uppercase;
    padding: 0.5em;
    border-radius: 25%;
}

.catalog_container img {
    width: 50%;
    margin: 1em;
    border-radius: 10%;
}
/* ======== Latest Products Section ======== */

/*latest-product  à modifier en random-products lors de la dynamisation*/

.latest-products ul {
    display: flex;
    justify-content: space-around; /* ou space-between, ou center */
    flex-wrap: wrap; /* Permet de passer à la ligne si nécessaire */
     gap: 1.5rem; /* Espace entre les éléments */
     padding: 0;
     margin: 0;
     list-style: none;
}

.latest-products li {
    flex: 1 1 30%; /* base 30% et s’adapte à l’espace dispo */
    display: flex;
    height: 100%;
}

.latest-products article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: var(--color-orange);
    border-radius: 0.5rem;
    overflow: hidden;
}

.latest-products article img {
    width:100%;
    height: 15rem;
    object-fit: cover;
    display: block;
}

.latest-products article div {
    padding: 1.5rem;
}

.latest-products article a {
    margin-top: 1rem;
}
