   img{
    display: block;
    width: 60%;
    margin: 1em auto;
    border-radius: 10%;
   }

   .details_container {
      display: block;
      margin: 15em;
      border: 2px solid black;
      padding: 3rem;
   }
   .details_container dl{
      display: grid;
      grid-template-columns: max-content 1fr;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      align-items: flex-start;
   }
  
  

   
