/*
Fond du bouton "main en beige (dde clt) voir si à généraliser siur les autres boutons
 Les 3  encadrés texte dans les footer,  à mettre en responsing tel  retrait à gauche

*/


.logo_tasses {
display: block;
height: 2 rem;


}

.h2 {

}

h3 {
    background-color: antiquewhite;
}


